@tailwind base;

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

h1 {
  @apply text-3xl font-bold text-gray-900;
}
h2 {
  @apply text-2xl font-bold text-gray-900;
}
h3 {
  @apply text-xl font-bold text-gray-900;
}
a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}
 
.active a {
  @apply border-red-900 border-b-2; 
}
 
.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@tailwind components;

@tailwind utilities;
